@model IEnumerable<KariyerPortal.Models.Job>

@{
    ViewData["Title"] = "Admin Panel";
}

<h2>İLANLAR</h2>

@if (User.IsInRole("Admin"))
{
    <a asp-controller="Job" asp-action="Create" class="btn btn-success mt-3 mb-4">
        + İlan Ver
    </a>
}

@foreach (var job in Model)
{
    <div class="card mb-4">
        <div class="card-header">
            <strong>@job.Title</strong> - Yayınlayan: @job.CreatedBy
        </div>
        <div class="card-body">
            <p>@job.Description</p>

            <h6 style="color:navy;">Başvurular (@(job.Applications?.Count() ?? 0) )</h6>
            <ul>
                @if (job.Applications != null && job.Applications.Any())
                {
                    @foreach (var app in job.Applications)
                    {
                        <li>
                            Kullanıcı ID: @app.UserId - Başvuru Tarihi: @app.AppliedAt.ToShortDateString()
                            <br />
                            <a href="~/uploads/@app.CVPath" target="_blank">CV'yi Görüntüle</a>
                        </li>
                    }
                }
                else
                {
                    <li>Henüz başvuru yapılmamış.</li>
                }
            </ul>
            <!-- Silme butonu -->
            <form asp-action="DeleteJob" asp-controller="Admin" asp-route-id="@job.Id"
                  method="post" onsubmit="return confirm('Bu ilanı silmek istediğinize emin misiniz?');"
                  class="position-absolute bottom-0 end-0 m-3">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-sm btn-danger">Sil</button>
            </form>
        </div>
    </div>
}